.card {
    display: flex;
    background-color: var(--branco);
    border-radius: 15px;
    padding: 1em;
    margin: 1em;
    line-height: 1.1em;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.card__titulo {
    font-weight: 700;
    color: var(--laranja);
    font-size: 16px;
}

.card__subtitulo {
    font-weight: 700;
    font-size: 18px;
    color: var(--azul-escuro);
}

.card__texto {
    font-weight: 400;
    font-size: 14px;
    color: var(--preto);
}

.coluna__primeira {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.card__icon {
    width: 2.5em;
    margin-top: 2em;
}

.coluna__segunda {
    display: flex;
    flex-direction: column;
}

.card__imagem {
    margin-bottom: 2em;
}

.info__botao {
    font-weight: 700;
    color: var(--branco);
    font-size: 16px;
    background-color: var(--laranja);
    padding: 1em;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card__subtitulo, .card__texto, .coluna__imagens {
    padding-right: 2em;
}

.coluna__primeira-avaliacao {
    width: 5em;
}
